.rvmrc
recordings/
.DS_Store
target/
src/logs/
reports/
src/main/webapp/index.html
fred.bat
fredNoTests.bat
cucumber.bat
setremotedebugging.bat
stop.bat
.project
.classpath
.settings
.springBeans
*.iml
*.ipr
*.iws

